@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Roboto+Slab&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', sans-serif;
}

/* Header and Logo */
header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	display: flex;
	z-index: 1000;
	align-items: center;
	padding: 3px 5%;
	background-color: rgba(232, 84, 150, 0.5);
}

.logo img {
	max-width: 30px;
	max-height: 30px;
	display: inline-block;
	margin-right: 0;
}

header h2 {
	font-family: 'Lily Script One', Arial;
	letter-spacing: 2px;
	margin-right: auto;
}

/* navigation links */

.nav-menu {
	font-size: 110%;
	display: flex;
	font-weight: 500;
}

.nav-menu, .logo img {
	line-height: 75px;
}

.nav-menu li {
	list-style-type: none;
	margin-right: 40px;
}

.nav-menu a {
	font-size: 110%;
	letter-spacing: 2px;
	color: #292929;
	text-transform: capitalize;
	text-decoration: none;
}

.nav-menu a:hover {
	border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu-icon {
	font-size: 35px;
	color: #292929;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

/* Hero Image */

.hero {
	width: 100%;
	height: 100%;
    overflow: hidden;
}

.hero-image {
	width: 100%;
	height: 100vh;
	background: url('../images/hero.jpg') no-repeat center top;
	background-size: cover;
    background-attachment: fixed;
}

.hero-text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 50%;
}

.hero-text  h3 {
	color: #292929;
	font-size: 3em;
	letter-spacing: 2px;
}

.hero-text h1 {
	color: #292929;
	font-size: 4em;
	font-family: 'Lily Script One', Arial, sans-serif;
}

/* Hero button */

.hero-btn {
	text-decoration: none;
	font-size: 1.5em;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 500;
	background-color: #6a53b8;
	color: white;
	border-radius: 10px;
	border: 2px solid black;
	text-align: center;
	padding: 0.6em 1em;
	transition: all 0.5s;
  	cursor: pointer;
	display: block;
	margin-top: 0.5em;
}

.hero-btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.hero-btn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.hero-btn:hover span {
	padding-right: 25px;
}

.hero-btn:hover span:after {
	opacity: 1;
	right: 0;
}

/* About Page */

.about-main {
	background-color: #f2dfcf;
	display: block;
    position: absolute;
	width: 100%;
	height: auto;
	z-index: 10;
}

.about {
	width: 90%;
	position: static;
	margin: 0 auto;
	padding: 10px 20px;
}

.about-title h1 {
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 100px;
	font-size: 30px;
	padding-top: 150px;
	position: relative;
}

.about-title h1::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 4px;
	background-color: purple;
	bottom: -5%;
	left: 50%;
	transform: translateX(-50%);
}

.about-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 50px;
}

.about-image {
	flex: 1;
	margin-right: 40px;
	padding: 20px 0;
}

.about .about-container .about-image img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
	border-radius: 10px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
	transform: scale(1);
}

.about .about-container .about-image:hover img {
	transform: scale(1.05);
}

.about .about-container .about-content {
	flex: 1;
	align-self: center;
	box-sizing: border-box;
}

.about-content h2 {
	font-size: 23px;
	text-align: left;
	text-transform: capitalize;
	margin-bottom: 15px;
	margin-left: 20px;
	letter-spacing: 1.5px;
}

.about-content p {
	font-size: 100%;
	line-height: 1.8em;
	letter-spacing: 0.15px;
	text-align: justify;
	margin: 20px;
}

.about-content .italicize-text {
	font-style: italic;
}

.about-content .bold {
	font-weight: 900;
}

.about-content .bottomline {
	padding: 10px 0;
}

/* Menu Page */

.menu-section {
	background-color: #f2dfcf;
	width: 100%;
	height: auto;
	overflow: auto;
}

.section-title h2 {
	text-transform: capitalize;
	text-align: center;
	font-size: 30px;
	padding-top: 150px;
	padding-bottom: 20px;
	position: relative;
}

.section-title h2::before {
	content: '';
	position: absolute;
	width: 60px;
	height: 4px;
	background-color: purple;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.menus {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu-column {
	width: 30%;
	margin: 30px auto;
}

.single-menu {
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.single-menu img {
	max-width: 200px;
	min-height: 200px;
	width: 100%;
	height: 200px;
	background-color: rgb(216, 209, 209);
	object-fit: contain;
	object-position: center;
	border-radius: 100px;
	border: 5px double #D6C1AF;
	margin: 20px;
	transform: scale(1);
	transition: .3s ease-in-out;
}

.single-menu:hover img {
	transform: scale(1.3);
}

.menu-content {
	flex-direction: row;
}

.single-menu .menu-content h5 {
	text-align: left;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 700;
	border-bottom: 1px dashed #222;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.single-menu .menu-content h5 span {
	color: #d44780;
	float: right;
	font-weight: 700;
	font-style: italic;
}

.single-menu .menu-content p {
	text-align: left;
}

/* Contact Us Page */

.contact-bg {
	background-color: #f2dfcf;
	width: 100%;
	height: auto;
	overflow: auto;
}

.contactUs {
	position: relative;
	width: 100%;
	padding: 120px;
}

.contactUs .contact-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contactUs .contact-header h2 {
	text-transform: capitalize;
	font-size: 2em;
	position: relative;
	letter-spacing: 1.5px;
	padding-bottom: 20px;
}

.contactUs .contact-header h2::before {
	content: '';
	position: absolute;
	width: 60px;
	height: 4px;
	background-color: purple;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.contactUs .contact-header p {
	padding: 20px;
	font-size: 1.5em;
}

.contact-container {
	position: relative;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 5fr 4fr;
	grid-template-areas:
	"form info"
	"form map";
	grid-gap: 20px;
}

.contact {
	padding: 40px;
	background-color: antiquewhite;
	margin-top: 20px;
}

.form {
	grid-area: form;
}

.info {
	grid-area: info;
}

.map {
	grid-area: map;
}

/* contact form */
.formBox {
	position: relative;
	width: 100%;
}

.formBox .row50 {
	display: flex;
	flex-direction: column;
}

.inputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 50%;
}

.formBox .row100 .inputBox {
	width: 100%;
}

.inputBox label {
	color: #222;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}

.inputBox .input {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
}

.inputBox .select {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
}

.inputBox .msg-box {
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #333;
	resize: none;
	min-height: 220px;
	margin-bottom: 10px;
}

.inputBox input[type="submit"] {
	background:  rgb(219, 104, 104);
	color: white;
	border: none;
	font-size: 1.1em;
	max-width: 120px;
	font-weight: 500;
	border-radius: 5%;
	cursor: pointer;
	padding: 14px 15px;
}

.inputBox ::placeholder {
	color: grey;
}

/* Address info */

.info {
	background: #dfb492;
}

.info h3 {
	color: #222;
	padding-bottom: 10px;
}

.info .infoBox div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.info .infoBox div span {
	min-width: 40px;
	height: 40px;
	color: #5f2d07;
	background: #fcd6b6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	border-radius: 50%;
	margin-right: 15px;
}

.info .infoBox div p {
	color: #222;
	font-size: 1.1em;
}

.info .infoBox div a {
	color: #222;
	text-decoration: none;
}

.contact-social {
	margin-top: 30px;
	display: flex;
}

.contact-social li {
	list-style-type: none;
	margin-right: 15px;
}

.contact-social li a {
	color: #5f2d07;
	font-size: 1.8em;
}

.contact-social li a:hover {
	color: #ac7f5d;
}

/* Contact Map */

.map {
	padding: 0;
}

.map iframe {
	width: 100%;
	height: 100%;
}

/* Thank you page */

.thankyou-bg {
	background-color: #f2dfcf;
	width: 100%;
	height: 100vh;
	overflow: auto;
}

.thankyou-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.thankyou-title h1 {
	text-transform: uppercase;
	font-size: 4em;
	color: #2c0a18;
	letter-spacing: 2px;
	margin: 50px auto;
}

.tick-mark {
	width: 300px;
	max-width: 100%;
	height: auto;
}

.thankyou-text {
	padding: 50px;
}

.thankyou-text p {
	text-align: center;
	font-size: 1.1em;
	line-height: 30px;
}


/* footer */

footer {
	height: auto;
	width: 100%;
	bottom: 0;
	left: 0;
}

.position {
	position: absolute;
}

footer .main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 4px 20px;
	background-color: rgb(226, 63, 124, 0.7);
}

.footer-left ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.footer-left ul li {
	margin-right: 10px;
	list-style-type: none;
}

.footer-left ul li a {
	text-decoration: none;
}

.footer-left ul li a:hover i {
	transform: scale(1.3);
	color: whitesmoke;
}

.footer-left ul li a i {
    font-size: 130%;
    color: black;
	margin-right: 1em;
	transition: all 0.3s linear;
}

.footer-center h3 {
	text-align: center;
	font-size: 0.9em;
	color: black;
}

.footer-right i {
	color: black;
}

.footer-right .contact-number {
	font-size: 0.9em;
}
